.chat-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    top: 3%;
    bottom: 3%;
    left: 35%;
    right: 2%;
    /* transform: translate(-10%,-50%); */
    justify-content: center;
    position: absolute;
    padding: 1%;
    /* margin: 100px 0px; */
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
    
    /* width: 51%; */
    /* height: 87%; */

    box-shadow: 0px 4px 5px 2px #adafb161;

    /* background-color: purple; */

    /* border: 2px solid #3b5998; */
  }
  .header {
    background-color: white;
    color: black;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 12%;
    border-bottom: 2px solid #E6E6E6;
  }

  .header img{
    /* height: 60%; */
    /* width: 7%; */
    height: 70%;
    width: auto;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 3%;
  }

  .header span {
    display: flex;
    padding: 5px;
    font-weight: 700;
    font-size: x-large;
    /* margin: 0px 10px 0px 10px; */
    padding-left: 15px;
  }
  .messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
  }

  .message {
    /* display: flex;
    */

    margin: 15px 0px 15px 0px;
    padding: 15px;
    color: #3b3737;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.3px;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 60%;
    text-wrap: wrap;
    

    background-color: #E6E6E6;
    border-radius: 25px;
  }

  .user-img{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
.message-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.message-container-sender{
  justify-content: end;
  flex-direction: row-reverse;
  border: 0px;

    .message{
      background-color: #8431f0;
      color: white;
    }
}
 
  .user {
    font-weight: bold;
    margin-right: 10px;
    color: #333;
  }
  
  .new-message-form {
    display: flex;
    height: 10%;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
  }
  
  .new-message-input {
    flex: 1;
    border: none;
    outline: none;
    /* height: 2%; */
    border: 3px solid #cfcbcb;
    font-size: 16px;
    color: #333;
    font-size: 24px;
    padding: 10px;
    padding-left: 40px;
    margin: 0px 15px;
    border-radius: 25px;
  }
  
  .send-button {
    border: none;
    outline: none;
    /* background: #3b5998; */
    background-color: #8431f0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 15px 0px 0px;
    border-radius: 25px;
    width: 10%;
    cursor: pointer;

  }
  .send-button:hover{
    border: 2px solid rgb(252, 251, 251);
  }