body {
    padding: 0;
    margin: 0;
    
  }

  .App {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to top, #53138f, #010101);
  }
  
  .app-header {
    text-align: center;
    background-color: #3b5998;
    color: white;
    width: 100%;
  }
  
  .app-container {
    margin-top: 50px;
  }
  
  .search-container{
    position: absolute;
    top: 2%;
    bottom: 2%;
    left: 12%;
    right: 68%;
    /* transform: translate(100%,-0%); */

    /* height: 87%; */
    /* width: 20%; */

    /* border-radius: 25px; */
    /* border: 2px solid black; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transform: translate(-50%, -50%); */
  }

  .search-container input {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    width:90%;
    height: 8%;
    padding: 15px;
    margin: 10px;

    font-size: 18px;
    
    background-color: #ffffff;
    border-radius: 25px;
    border: 0;
    box-shadow: 0px 4px 5px 2px #adafb161;
  }

  .search-results{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 90%;
    width: 100%;
    margin: 10px;
    overflow: hidden;

    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 4px 5px 2px #adafb161;
  }

  .search-result-entry{
    
    
    display: flex;
    align-items: center;

    width: 100%;
    text-align: start;
    padding: 25px;
    border-bottom: 1px solid rgb(224, 219, 219);
    cursor: pointer;

  }
  .search-result-entry:hover{
      background-color: rgb(128, 128, 125);
    }

    .search-result-entry img{
      height: 50px;
      width: 50px;
      margin: 10px;
      border-radius: 50px;
    }

    .search-result-entry span{
      margin: 20px;
      font-weight: 500;
    font-size: 18px;
    }
  
  .room button {
    width: 210px;
    height: 40px;
    border: none;
    border-radius: 6px;
    padding-left: 5px;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    background-color: #3b5998;
    color: white;
    cursor: pointer;
  }
  
